.Filter {
    width: 80%;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    box-shadow:rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
    margin: 10px;
    align-items: center;
    align-content: center;
    background-color: #ED6663;
    display: block;
}